body{
    background-image: url(../images/background.jpeg);
    
}

h1{
    font-family: 'Open Sans', serif;
    color: white;
    font-weight:100;
}

h2{
    font-family: 'Open Sans', serif;
    color: white;
    font-weight:100;
}

.stars{
    padding: 0px;
    margin: -20px;
}